<!DOCTYPE html>
<html lang="en">
    {% extends 'main.html'%}
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>

    {% block signup %}
    {% csrf_token %}
    <div class="signup_class">
        <div class="signup">
            <label>name:</label>
            <input type="text" name="username" id="name_id">
           <label>Email:</label> 
           <input class="email" placeholder="email" id="email_id" >
           <label>Address:</label>
           <input class="address" placeholder="adress" id="address_id">
           <label>Phone:</label>
           <input class="phone" placeholder="phone" id="phone_id">
           <button class="button">submit</button>
        </div>
    </div>
    <script src="{static 'scripts/signup.js'%}" type="text/javescript"></script>
    {% endblock %}   
     
</body>
</html>